
.statesTable{
  height: 400px;
  overflow: auto;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.stateNameHeading{
  margin-left: 44%;
  margin-top: 2%;
}
.districtsTable{
  height: 400px;
  overflow: auto;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.statewiseHeading{
  margin-left: 44%;
  margin-top: 2%;
}
.country{
  margin-left: 44%;
  margin-top: 2%;
  margin-bottom: 2%;
}
table th {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 5;
  background: #fff;
}
.selection{
  margin: 3% 40% auto 40%;
}
.card{
  background-color: bisque;
  width: 15%;
  text-align: center;
}
.cards{
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 875px) {
  .statesTable{
    width: 80%;
  }
  .districtsTable{
    width: 80%;
  }
}
@media only screen and (max-width: 650px) {
  .country{
    margin-left: 22%;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .cards{
    display: inline;
    padding: 2px;
  }
  .card{
    width: 50%;
    margin: auto;
    
  }
  .statesTable{
    width: 100%;
  }
  .districtsTable{
    width: 100%;
  }
  .selection{
    margin: 5% 20% auto 20%;
  }
  .stateNameHeading{
    margin-left: 22%;
    margin-top: 5%;
  }
  .statewiseHeading{
    margin-left: 22%;
    margin-top: 5%;
  }
}
footer{
  margin-top: 2%;
  background-color: #f5f1da;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
